@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  background: #67b26f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4ca2cd,
    #67b26f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4ca2cd,
    #67b26f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: auto;
}

nav {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: flex-end;
  background: #ffffff;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}

nav a {
  margin-right: 50px;
  color: #1c1c22;
  text-decoration: none;
}

h1 {
  font-family: "Permanent Marker", cursive;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin: 2rem auto 2rem auto;
  padding: 0 50px;
}

.card {
  text-align: center;
  padding: 15px 5px;
  background: linear-gradient(
    130deg,
    rgba(251, 251, 254, 0.6),
    rgba(251, 251, 254, 0.2)
  );
  box-shadow: inset 2px 2px 1px rgba(251, 251, 254, 0.3),
    inset -2px -2px 1px rgba(251, 251, 254, 0.2);
  border-radius: 5px;
}

/*--title-color: #1c1c22;*/
/*--text-color: #58576b;*/
.card a {
  color: #1c1c22;
}

.info {
  margin: 2rem auto 2rem auto;
  padding: 0 50px;
  text-align: center;
  align-items: center;
}

.glass {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 20px;
}

.pictures {
  display: inline-flexbox;
  width: 300px;
}

.name {
  font-size: 30px;
  font-family: "Permanent Marker", cursive;
  margin-bottom: 40px;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.row > img {
  width: 150px;
  height: auto;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 660px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }
}

@media (max-width: 400px) {
  .cards {
    grid-template-columns: 1fr;
    padding: 0 40px;
  }
}
