@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  background: #67b26f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #4ca2cd,
    #67b26f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #4ca2cd,
    #67b26f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  margin: auto;
}

nav {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
}

nav a {
  color: #58576b;
  text-decoration: none;
  font-family: "Permanent Marker", cursive;
  font-size: 1.5rem;
}

h1 {
  font-family: "Permanent Marker", cursive;
}

.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin: 2rem auto 2rem auto;
  padding: 0 50px;
}

.card {
  text-align: center;
  padding: 15px 5px;
  background: linear-gradient(
    130deg,
    rgba(251, 251, 254, 0.6),
    rgba(251, 251, 254, 0.2)
  );
  box-shadow: inset 2px 2px 1px rgba(251, 251, 254, 0.3),
    inset -2px -2px 1px rgba(251, 251, 254, 0.2);
  border-radius: 5px;
}

/*--title-color: #1c1c22;*/
/*--text-color: #58576b;*/
.card a {
  color: #1c1c22;
}

.search-wrap {
  display: flex;
  width: 100%;
  min-height: 60px;
  align-items: center;
  margin-top: 10px;
  justify-content: center;
}

input[type="text"] {
  display: inline-flexbox;
  padding: 10px;
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  border: 0;
  border-radius: 5px;
  width: 270px;
  outline: none;
}

.search-wrap button {
  display: inline-flex;
  background: #ffffff;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  padding: 0.75rem 1.3rem;
  border-radius: 5px;
  border: 0;
  font-size: 16px;
  color: #58576b;
  font-weight: 700;
  margin-left: 10px;
  transition: 0.4s;
}

.search-wrap button:hover {
  background: linear-gradient(
    130deg,
    rgba(251, 251, 254, 1),
    rgba(251, 251, 254, 0.4)
  );
}

.pagination {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 270px;
  margin: auto;
  list-style: none;
  padding: 20px 0;
  color: #58576b;
  font-weight: 700;
}

.prev,
.next {
  cursor: pointer;
}

.pages {
  padding: 3px 6px;
  border-radius: 50%;
  cursor: pointer;
}

.pages:hover {
  border: 2px solid #ffffffa6;
}

.prev:hover,
.next:hover {
  color: #ffffffa6;
}

.active-page {
  color: #ffffffa6;
  border-radius: 50%;
  font-weight: 700;
  border: 2px solid #ffffffa6;
}

.info {
  margin: 2rem auto 2rem auto;
  padding: 0 50px;
  text-align: center;
  align-items: center;
}

.glass {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7),
    rgba(255, 255, 255, 0.3)
  );
  border-radius: 20px;
}

.pictures {
  display: inline-flexbox;
  width: 300px;
}

.name {
  font-size: 30px;
  font-family: "Permanent Marker", cursive;
  margin-bottom: 40px;
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.row > img {
  width: 150px;
  height: auto;
}

@media (max-width: 800px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 660px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }
}

@media (max-width: 450px) {
  .cards {
    grid-template-columns: 1fr;
    padding: 0 40px;
  }

  .search-wrap {
    flex-direction: column;
    margin: 40px 0;
  }

  .search-wrap button {
    margin: 10px 0 0 0;
  }
}
